@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Londrina+Shadow&family=Londrina+Sketch&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/************************************************************************************/
/***************************** Générale *********************************************/

body {
  background-color: #434343;
  color: #0b1014;
  margin: 0px;
  font-family: "Montserrat", serif;
  min-width: 1025px;
}

p {
  font-size: 20px;
  font-family: "Montserrat", serif;
}

button {
  cursor: pointer;
}

/************************************************************************************/
/***************************** Header ***********************************************/
.content-with-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  position: relative;
}

.content-with-background > * {
  position: relative;
  z-index: 2;
}

header {
  color: white;
  z-index: 1000;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  animation: moveInRight 2s ease-out;
}

/*Annimation d'affichage par la droite */
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

header p {
  margin: 0;
  font-size: 42px;
  width: 100%;
  font-weight: bold;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  gap: 32px;
}

header nav a {
  color: white;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  white-space: nowrap;
}

header nav a:hover {
  cursor: pointer;
}

.presentation {
  color: white;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-bottom: 50px;
  gap: 10px;
  animation: moveInLeft 2s ease-out;
}

/*Annimation d'affichage par la gauche */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.presentation p {
  margin-top: 0;
  margin-bottom: 44px;
  font-size: 28px;
  font-weight: bold;
}

.presentation h1 {
  margin: 0;
  font-size: 64px;
}

/********** Nav hamburger **********/

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  cursor: pointer;
  z-index: 1001;
}

.hamburger span {
  background-color: white;
  height: 3px;
  border-radius: 2px;
  transition: all 0.3s ease;
}

/************************************************************************************/
/***************************** Footer **********************************************/

footer {
  width: 100%;
  height: auto;
  padding-top: 64px;
  padding-bottom: 64px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(0, 0, 0);
  border-top: 1px solid white;
  position: relative;
}

footer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

footer div a {
  color: white;
  text-decoration: none;
  font-size: 22px;
  margin-bottom: 0px;
}

footer p {
  color: white;
  margin: 0;
  font-weight: 500;
  font-size: 22px;
}

/************************************************************************************/
/***************************** Section galerie **************************************/

.galerie {
  width: 100%;
  padding: 0;
  height: auto;
  background: #000000;
  background: -webkit-linear-gradient(to bottom, #434343, #000000);
  background: linear-gradient(to bottom, #434343, #000000);
  color: #54625a;
}

.grid-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 400px);
  gap: 40px;
  background-color: #000000;
}

.grid-item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 24px;
  font-weight: bold;
  overflow: hidden;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.filter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  transition: opacity 0.3s ease;
}

.grid-item:hover .filter {
  opacity: 0;
}

.grid-item-contact {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 24px;
  font-weight: bold;
  overflow: hidden;
}

.grid-item-contact img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.contact-filter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(24, 22, 22);
  opacity: 1;
  transition: opacity 0.3s ease;
}

.contact-filter p {
  font-size: 70px;
  font-family: "Montserrat", serif;
  color: #dbc7c7;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.grid-item-contact:hover .contact-filter {
  opacity: 0;
}

/************************************************************************************/
/***************************** Page projet **************************************/

.project {
  color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  background: -webkit-linear-gradient(to bottom, #434343, #000000);
  background: linear-gradient(to bottom, #434343, #000000);
}

.project .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.project h1 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 100px;
  margin: 0;
  gap: 5px;
}

.project .square {
  text-align: center;
  font-size: 60px;
  border: 1px solid white;
  width: 69px;
}

.project .info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.project .info .info-project {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.project .info .info-project .info-tags {
  background-color: none;
  padding: 8px 16px;
  border-radius: 25px;
  border: 1px solid white;
  color: white;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.project .link {
  display: flex;
  justify-content: start;
}

.project a {
  display: inline-block;
  width: 180px;
  padding: 12px 20px;
  background-color: #1e40af;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border: 2px solid #1e40af;
}

.project a:hover {
  background-color: #3960e2;
  border: 2px solid #3960e2;
}

.project .info-and-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 60px;
}

.project .info-and-img .main-presentation {
  font-size: 34px;
  font-weight: bold;
}

.project .info-and-img .objectives-presentation {
  font-size: 22px;
}

.realizations-presentation {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.project .picture {
  min-width: 715px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 415px;
  margin: 0;
  position: relative;
  background-color: white;
  border-radius: 25px;
  overflow: hidden;
  margin-top: 24px;
}

/* Carrousel d'images*/

.carousel .picture img {
  height: 100%;
  object-fit: contain;
  border-radius: 25px;
  position: absolute;
  z-index: 1;
}
.carousel .picture .button-container {
  min-width: 715px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 3;
}
.carousel .picture .button-container button {
  font-size: 50px;
  color: #656d68;
  background-color: transparent;
  border: none;
  margin: 0 15px;
  padding: 0;
  opacity: 87%;
}

.carousel .picture-numbering {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
}

.carousel .bubble {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #54625a;
  transition: background-color 0.3s;
}

.carousel .bubble.active {
  background-color: #ccc;
}

/************************************************************************************/
/******************************** Page Contact **************************************/

.contact-page {
  width: 100%;
  background: #000000;
  background: -webkit-linear-gradient(to bottom, #434343, #000000);
  background: linear-gradient(to bottom, #434343, #000000);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  padding: 30px;
  margin: 10px;
}

.contact form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.contact label {
  width: 100%;
}

.contact form h2 {
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 38px;
  text-align: center;
}

.info-email {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-email input {
  height: 30px;
  padding-left: 10px;
  border-radius: 10px;
  border: solid 1px white;
}

.contact form textarea {
  height: 300px;
  width: 96%;
  resize: none;
  padding: 10px;
  border-radius: 10px;
  border: solid 1px transparent;
  font-size: 14px;
}

.contact form button {
  width: 150px;
  height: 60px;
  border-radius: 50px;
  border: solid 1px transparent;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  background-color: #1e40af;
  color: white;
}

.contact form button:hover {
  background-color: #3960e2;
}

.contact .status {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 40px;
}

/************************************************************************************/
/********************* bannière text entre deux section *****************************/

/* Page accueil */

.banner-container {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  position: relative;
  overflow: hidden;
  border: solid 1px black;
  font-size: 40px;
  font-family: "Londrina Shadow", sans-serif;
  font-weight: 900;
  background-color: black;
}

.banner-text {
  display: inline-block;
  white-space: nowrap;
  padding-left: 0%;
  /*animation: slide 500s linear infinite;*/
  background: -webkit-linear-gradient(to left, #999896, #ffffff);
  background: linear-gradient(to left, #999896, #ffffff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Page contact */

#contact {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  position: relative;
  overflow: hidden;
  border: solid 1px white;
  font-size: 40px;
  font-family: "Londrina Shadow", sans-serif;
  font-weight: 900;
  background-color: white;
}

#contact .banner-text {
  display: inline-block;
  white-space: nowrap;
  padding-left: 0%;
  /*animation: slide 500s linear infinite;*/
  background: -webkit-linear-gradient(to left, black, #111010);
  background: linear-gradient(to left, black, #111010);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/************************************************************************************/
/********************** Section présentation personnel ******************************/

.presentation-perso {
  background-color: white;
  padding-left: 50px;
  padding-top: 80px;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 30px;
}

.presentation-perso-image {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.presentation-perso-image img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 200px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.presetation-perso-text {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}

.presetation-perso-text h2 {
  font-size: 40px;
}

.cv-and-logo {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 33.2px;
}

.presentation-perso button {
  cursor: pointer;
  height: 50px;
  width: 180px;
  background-color: #1e40af;
  font-weight: bold;
  color: white;
  padding: 10px;
  font-family: "Montserrat", serif;
  font-size: 18px;
  border-radius: 25px;
  border: 1px solid #1e40af;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.presentation-perso button:hover {
  background-color: #3960e2;
  border: 1px solid #3960e2;
}

.logo {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 20px;
}

.logo div {
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 100px;
}

.logo img {
  height: 60px;
  width: 60px;
}

/************************************************************************************/
/****************************** Section Compétences *********************************/

.my-skills {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 30px;
}

.my-skills h2 {
  margin: 0;
  font-size: 34px;
  padding-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.my-skills h3 {
  font-size: 24px;
  margin-top: 15px;
}

.skills {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.skills div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.skills-contener {
  position: relative;
  margin-top: 2rem;
  display: flex;
}

.skills div h3 {
  color: #8b8787;
  position: absolute;
  top: 1.2rem;
  background: white;
  padding: 0 0.5rem;
  font-weight: bold;
  z-index: 10;
}

.skill-list-contener {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  background: white;
  width: 80%;
  height: 100%;
}

.skills div ul {
  margin: 0;
  list-style: none;
  text-align: center;
  padding: 0;
  font-size: 20px;
}

.skills div ul li {
  margin-top: 15px;
}

/******************************************************************************************************************************/
/******************************************************************************************************************************/
/*********************************** écrants de largeur comprise entre 1300px et 1026px ***************************************/

@media (max-width: 1300px) {
  /***************************************************************/
  /*************************** Page project ***********************/
  .project .info-and-img {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .project .info-and-img .objectives-presentation {
    font-size: 24px;
    width: 100%;
  }

  .carousel .picture {
    min-width: 715px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 415px;
    margin: 0;
    position: relative;
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
  }

  .carousel .picture img {
    height: 100%;
    object-fit: contain;
    border-radius: 25px;
    position: absolute;
    z-index: 1;
  }
  .carousel .picture .button-container {
    min-width: 715px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 3;
  }
  .carousel .picture .button-container button {
    font-size: 50px;
    color: #656d68;
    background-color: transparent;
    border: none;
    margin: 0 15px;
    padding: 0;
    opacity: 87%;
  }
}

/******************************************************************************************************************************/
/******************************************************************************************************************************/
/************************************ écrants de largeur comprise entre 1300px et 651px ***************************************/

@media (max-width: 1025px) {
  /***************************************************************/
  /*************************** Générale **************************/

  body {
    min-width: 257px;
  }

  p {
    font-size: 15px;
  }

  /***************************************************************/
  /*************************** Header ****************************/

  header {
    padding: 20px;
    align-items: center;
    height: auto;
  }

  header p {
    font-size: 24px;
  }

  header nav {
    gap: 5px;
  }

  header nav a {
    font-size: 18px;
    margin-left: 10px;
  }

  .presentation {
    margin-top: 20px;
    height: auto;
    padding-left: 20px;
    padding-bottom: 20px;
    gap: 10px;
  }

  .presentation h1 {
    margin: 0;
    font-size: 48px;
  }

  .presentation p {
    margin-right: 20px;
    font-size: 21px;
  }

  /***************************************************************/
  /*************************** Footer ****************************/

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  footer div {
    align-items: center;
    padding: 15px;
  }

  footer div a {
    font-size: 20px;
    margin-bottom: 0px;
  }

  footer .ARR {
    position: relative;
    left: 0;
    top: 0;
    transform: translateX(0%);
  }

  footer p {
    font-size: 20px;
  }

  /***************************************************************/
  /*************************** Section Galerie *******************/

  .galerie {
    width: auto;
    height: auto;
  }

  .galerie .title {
    font-size: 25px;
    padding: 20px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 300px);
  }

  .grid-item {
    aspect-ratio: 1;
  }

  /***************************************************************/
  /*************************** Page project ***********************/

  .project {
    padding: 20px;
  }

  .project .title {
    margin-bottom: 20px;
  }

  .project .square {
    font-size: 40px;
    width: 49px;
    height: 49px;
  }

  .project h1 {
    font-size: 40px;
  }

  .project .info .info-project {
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .project .info .info-project .info-tags {
    margin-bottom: 10px;
  }

  .project .info-and-img {
    flex-direction: column;
    justify-content: space-between;
  }

  .carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  .project .info-and-img .main-presentation {
    font-size: 30px;
  }

  .project .info-and-img .objectives-presentation {
    font-size: 18px;
  }

  .project .info-and-img .info {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .project .info-and-img .info .info-project {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
  }

  .project .info-and-img .info .info-project .info-bubble {
    background-color: none;
    font-size: 12px;
  }

  .project .link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33px;
    margin-top: 0px;
  }

  .project a {
    width: 180px;
    padding: 12px 20px;
    background-color: #1e40af;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border: 2px solid #1e40af;
  }

  .carousel .picture {
    width: 100%;
    max-width: 705px;
    min-width: auto;
    max-height: 475px;
    min-height: 300px;
    height: 100%;
    margin-left: 0;
    position: relative;
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
  }

  .carousel .picture img {
    width: 100%;
    min-width: 500px;
    height: 100%;
    object-fit: contain;
    border-radius: 25px;
  }
  .carousel .picture .button-container {
    min-width: 0px;
    height: 100%;
    width: 100%;
  }
  .carousel .picture .button-container button {
    font-size: 25px;
  }

  /***************************************************************/
  /*************************** Page Contact **********************/

  .contact {
    padding: 10px;
    width: 100%;
  }

  .contact form {
    width: 90%;
  }

  .info-email {
    width: 100%;
  }

  .contact form textarea {
    width: 94%;
  }

  .contact form h2 {
    font-size: 30px;
  }

  /***************************************************************/
  /**************** Section présentation personnel ***************/

  .presentation-perso {
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .presetation-perso-text {
    align-items: center;
    padding-right: 20px;
    text-align: center;
  }

  .presentation-perso-image img {
    height: 250px;
    width: 250px;
  }

  .cv-and-logo {
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
    margin-bottom: 0px;
  }

  .presentation-perso button {
    width: 130px;
    padding: 8px;
    font-size: 14px;
    margin-top: 15px;
  }

  .logo div {
    height: 58px;
    width: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 100px;
  }

  .logo img {
    height: 50px;
    width: 50px;
  }

  /***************************************************************/
  /********************** Section Compétences ********************/

  .my-skills {
    padding-top: 40px;
    padding-bottom: 15px;
  }

  .skills {
    display: flex;
    flex-direction: column;
  }

  .skills div {
    padding: 25px;
  }

  .skills-contener {
    margin-top: 1rem;
  }

  .skills div h3 {
    top: -0.3rem;
  }

  .skills div ul {
    font-size: 18px;
  }
}

/******************************************************************************************************************************/
/******************************************************************************************************************************/
/****************************************** écrants de largeur inférieur 650px ************************************************/

@media (max-width: 650px) {
  /***************************************************************/
  /************************* Header ******************************/

  /******************************************/
  /*** Barre de navigation hamburger fermé **/

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 20px;
  }

  header p {
    font-size: 20px;
  }

  .hamburger {
    display: flex;
    width: 20px;
  }

  header nav {
    display: none;
    width: auto;
    flex-direction: column;
    gap: 10px;
    background-color: transparent;
    border-top: 2px solid white;
    border-right: 2px solid white;
    padding: 20px;
  }

  header nav a {
    font-size: 40px;
    text-align: end;
  }

  .presentation h1 {
    font-size: 36px;
    margin-right: 20px;
  }

  .presentation p {
    margin-top: 0;
    margin-bottom: 44px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 0;
  }

  /******************************************/
  /* Barre de navigation hamburger ouverte */

  .content-with-background.open {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
    height: 100vh;
  }

  header.open {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 20px;
    justify-content: flex-start;
    height: 100%;
  }

  .hamburger.open {
    display: flex;
    width: 100%;
    align-items: end;
    justify-content: space-between;
    flex-direction: column;
    height: 20px;
    cursor: pointer;
    z-index: 1001;
  }

  .hamburger.open p {
    text-align: end;
    font-size: 24px;
  }

  header.open nav.open {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 50px;
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content: flex-start;
    flex-direction: column;
    background-color: transparent;
    white-space: wrap;
    border-top: none;
    border-right: none;
    padding: 20px 0;
  }

  header.open p.open {
    display: none;
  }

  header.open nav.open a.open {
    white-space: wrap;
    font-size: 25px;
    text-align: start;
  }

  /***************************************************************/
  /************************* Footer ******************************/
  footer div a {
    font-size: 16px;
  }

  footer p {
    font-size: 16px;
  }

  /***************************************************************/
  /********************** Section Galerie ************************/
  .galerie {
    width: auto;
    height: auto;
  }

  .galerie .title {
    font-size: 25px;
    padding: 20px;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .grid-item {
    height: 300px;
  }

  .filter {
    display: none;
  }

  .grid-item-contact {
    display: none;
  }

  .grid-item-contact img {
    display: none;
  }

  .contact-filter {
    display: none;
  }

  .contact-filter p {
    display: none;
  }

  .grid-item-contact:hover .contact-filter {
    display: none;
  }

  /***************************************************************/
  /************************* Page Projet *************************/

  .projet h1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  .projet .info {
    height: auto;
  }

  .projet .link {
    height: auto;
  }

  .carousel {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  .projet .picture {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }

  /***************************************************************/
  /************************* Page Contact ************************/

  .contact form h2 {
    font-size: 24px;
  }
}
